RAG_COLLECTIONS=rag_pdf,rag_web_pdf
RAG_TOP_K_PER_COLLECTION=5
RAG_MAX_CONTEXTS=8
RAG_MIN_RELEVANCE_SCORE=0.35
RAG_REQUIRE_CONTEXT=true
SERPER_API_KEY=
SERPER_SEARCH_ENABLED=true
SERPER_MAX_RESULTS=5
SERPER_TIMEOUT_SECONDS=5
